{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-2">
            <form action="" id="urlsform">
                <textarea name="urls" style="height:100%" placeholder="Enter urls here..."></textarea>
                <input type="submit">
            </form>
        </div>
        <div class="col-sm-2">
            caoooo
        </div>
    </div>
{% endblock %}