{% extends 'base.html.twig' %}

{% block stylesheets %}
<style type="text/css">
       .redirect{
           background-color: #DBE5F1 ;
           color: #393939 ;
           border-top-width: 0px;
           /*padding-left: 5px;*/
       }

               .redirect > td {
                   border: 0px !important;
                   padding-left: 25px !important;
                   /*text-align: left !important;*/
               }

       .firstCall{
           background-color: #B8CCE4 ;
           color: #393939 ;
       }
                .firstCall > td {
                       border-left: 0px !important;
                       border-bottom: 0px !important;
                       border-right: 0px !important;
                       border-top: 1px solid #8195ad  !important;
                   }
   </style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-4">
            <form action="javascript:ajax_stream()">
                <textarea id="textAreaUrls" rows=10></textarea>
                <input type="submit">
            </form>
        </div>
        <div class="col-sm-8" id="container">   
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript"> 
    var submitCount = 0;  
    function doClear()
    {
        document.getElementById("textAreaUrls").value = "";
    }
     
    function ajax_stream()
    {
        var urlsArray = $('#textAreaUrls').val().split('\n');

        makeParentDiv(submitCount); //napravi div za novu listu

        var arrayForSending = [];

        for (var i = 0; i < urlsArray.length; i++) {
            var url = urlsArray[i].trim();
            // console.log(url);
            if (url === "") continue;
            arrayForSending.push(url);
            insert(url, "still working", 0, submitCount, i); //dodaj sve na still working
        }
        
        doClear();

        if (!window.XMLHttpRequest)
        {
            log_message("Your browser does not support the native XMLHttpRequest object.");
            return;
        }
        try
        {
            var xhr = new XMLHttpRequest();
            xhr.previous_text = '';
            xhr.onerror = function() { log_message("[XHR] Fatal Error."); };
            xhr.onreadystatechange = function() 
            {
                try
                {
                    if (xhr.readyState > 2)
                    {
                        var stringResponse = xhr.responseText.substring(xhr.previous_text.length);
                        // console.log(stringResponse);
                        var sTemp = "";
                        var responseObjects = [];
                        for(var i=0; i<stringResponse.length; ++i)
                        {
                            sTemp += stringResponse[i];
                            if (stringResponse[i] == "}")
                            {
                                responseObjects.push(JSON.parse(sTemp));
                                sTemp = "";
                            }
                        }

                        for (var i = 0; i < responseObjects.length; i++) {
                            var responseObject = responseObjects[i];
                            if (responseObject["status"] === 200){
                                edit(responseObject["url"], responseObject["status"], responseObject["length"], responseObject["parent"], responseObject["index"]);
                            }else if (responseObject["status"] === 301 || responseObject["status"] === 302){
                                console.log("Redirect: "+responseObject["url"]+"\nStatus: "+ responseObject["status"]);
                                addRedirect(responseObject["nextUrl"], responseObject["status"], responseObject["length"], responseObject["url"]);
                            }else{
                                edit(responseObject["url"], responseObject["status"], 0,responseObject["parent"], responseObject["index"]);
                            }
                        }

                        xhr.previous_text = xhr.responseText;
                    }   
                }
                catch (e)
                {}
            };
            xhr.open("POST", "{{ path('checkUrls') }}", true); //send post request
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send("urls="+arrayForSending+"&parent="+submitCount);      
        }
        catch (e)
        {
            log_message("<b>[XHR] Exception: " + e + "</b>");
        }

        submitCount++; //povecaj id za sledeci div
    }

    function makeParentDiv(id){
        var element = document.createElement("table");
        var tbody = document.createElement("tbody");
        tbody.setAttribute("id", "mainTBody");
        element.setAttribute("id", "parent-"+id);
        element.setAttribute("class", "table table-bordered");

        var url = document.createElement("th");
        var code = document.createElement("th");
        var length = document.createElement("th");

        var row = document.createElement("tr");

        url.appendChild(document.createTextNode("URL"));
        code.appendChild(document.createTextNode("Status code"));
        length.appendChild(document.createTextNode("Content length"));

        row.appendChild(url);
        row.appendChild(code);
        row.appendChild(length);

        var thead = document.createElement("thead");
        thead.appendChild(row);
        element.appendChild(thead);
        element.appendChild(tbody);

        document.getElementById("container").insertBefore(element, document.getElementById("container").firstChild);
    }

    function insert(urlText, codeText, lengthText, parentDivId, elementId) {
        var tbody = document.getElementById("mainTBody");
        var row = document.createElement("tr");
        row.setAttribute("id", parentDivId+"-"+elementId);
        row.setAttribute("name", urlText);
        row.setAttribute("class", "firstCall");

        var url = document.createElement("td");
        var code = document.createElement("td");
        var length = document.createElement("td");

        url.appendChild(document.createTextNode(urlText));
        code.appendChild(document.createTextNode(codeText));
        length.appendChild(document.createTextNode(lengthText));

        row.appendChild(url);
        row.appendChild(code);
        row.appendChild(length);

        tbody.appendChild(row);
    }

    function edit(urlText, codeText, lengthText, parentDivId, elementId){
        // console.log(url+'-'+code+'-'+length);
        var elements = document.getElementsByName(urlText);
        for (i = 0; i < elements.length; i++) {
            var row = elements[i];
            row.childNodes[1].innerHTML = "";
            row.childNodes[2].innerHTML = "";

            row.childNodes[1].appendChild(document.createTextNode(codeText));
            row.childNodes[2].appendChild(document.createTextNode(lengthText));
        }
    }

    function addRedirect(urlText, codeText, lengthText, parentRowText){
        console.log(urlText, parentRowText);
        var elements = document.getElementsByName(parentRowText);
        console.log("count: "+elements.length);
        for (i = 0; i < elements.length; i++) {
            var parentRow = elements[i];

            if (parentRow.nextSibling.getAttribute("name") === urlText) continue;

            parentRow.childNodes[1].innerHTML = "";
            parentRow.childNodes[2].innerHTML = "";

            parentRow.childNodes[1].appendChild(document.createTextNode(codeText));
            parentRow.childNodes[2].appendChild(document.createTextNode(lengthText));

            // napravi novi row sa prefiksom redirect

            var row = document.createElement("tr");
            row.setAttribute("id", parentRow.getAttribute("id")+"-child");
            row.setAttribute("name", urlText);
            row.setAttribute("class", "redirect");

            var url = document.createElement("td");
            var code = document.createElement("td");
            var length = document.createElement("td");

            url.appendChild(document.createTextNode("Redirect: "+urlText));
            code.appendChild(document.createTextNode("still working"));
            length.appendChild(document.createTextNode("0"));

            row.appendChild(url);
            row.appendChild(code);
            row.appendChild(length);

            parentRow.parentElement.insertBefore(row, parentRow.nextSibling);

        }
    }
</script>
{% endblock %}